.home-page-container {
    overflow-y: hidden;
        height: 100vh;
        width: 100%;
        color: white;
        .p-container{
            
       margin-top: 18%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        }
        
}
