.product-img{
    height: 160px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.product-card{
    width: 340px;
    padding: 10px;
    border-radius: 4px;
    margin: 20px;
    float: left;border:1px #1a6600 solid;
}
.categories{
    font-size: 14px;
    font-weight: 400;
    color: gray;
}
.product-title{
    font-size: 16px;
    color: grey;
}
