div{
    line-height: 40px;
  }

.foot a{
  text-decoration: none;
  color: rgb(221, 217, 217);
}

.head{
  color: rgb(221, 217, 217);
}
.icons{
  margin-top: 15px;
  margin-left: 2px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}